[build-system]
requires = ["flit", "setuptools"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "dit"
author = "chebee7i, Ryan G. James"
author-email = "admin@dit.io, rgjames@ucdavis.edu"
home-page = "http://dit.io"
requires-python = ">=3.6"
description-file = "README.rst"
classifiers = [
	"Intended Audience :: Science/Research",
	"License :: OSI Approved :: BSD License",
	"Programming Language :: Python :: 3.6",
	"Programming Language :: Python :: 3.7",
	"Programming Language :: Python :: 3.8",
	"Programming Language :: Python :: 3.9",
	"Topic :: Scientific/Engineering",
	"Topic :: Scientific/Engineering :: Mathematics",
	"Topic :: Scientific/Engineering :: Physics",
]
requires = [
	"boltons",
	"debtcollector",
	"lattices >= 0.3.3",
	"networkx",
	"numpy >= 1.11",
	"PLTable",
	"scipy >= 0.15.0",
]

[tool.poetry]
name = "dit"
version = "1.2.3"
description = ""
authors = [
	"chebee7i <admin@dit.io>",
	"Ryan G. James <rgjames@ucdavis.edu>",
]

[tool.poetry.dependencies]
python = "^3.3"
boltons = "*"
debtcollector = "*"
lattices = "^0.3.3"
networkx = "*"
numpy = "^1.11"
PLTable = "*"
scipy = "^0.15.0"


[tool.poetry.dev-dependencies]
pytest = "^3.4"
