[build-system]
requires = ["flit", "setuptools"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "dit"
author = "chebee7i, Ryan G. James"
author-email = "admin@dit.io, rgjames@ucdavis.edu"
home-page = "http://dit.io"
requires-python = ">=3.6"
description-file = "README.rst"
classifiers = [
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Scientific/Engineering",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Topic :: Scientific/Engineering :: Physics",
]
requires = [
    "boltons",
    "debtcollector",
    "lattices >= 0.3.3",
    "networkx",
    "numpy >= 1.11",
    "PLTable",
    "scipy >= 0.15.0",
]

[tool.flit.metadata.requires-extra]
test = [
    "codecov",
    "hypothesis >= 3.56.2",
    "hypothesis[numpy]",
    "pytest >= 4.4.0",
    "pytest-cov",
    "pytest-rerunfailures",
    "pytest-xdist",
]
doc = [
    "ipython[nbconvert]",
    "sphinx",
]
dev = [
    "codecov",
    'coverage[toml]',
    'darglint',
    'flake8',
    'flake8-awesome',
    'flake8-bandit',
    'flake8-broken-line',
    'flake8-bugbear',
    'flake8-coding',
    'flake8-commas',
    'flake8-docstrings',
    'flake8-import-order',
    'flake8-rst',
    'flake8-rst-docstrings',
    'flake8-self',
    'flake8-todos',
    "hypothesis >= 3.56.2",
    "hypothesis[numpy]",
    "ipython[nbconvert]",
    "nxpd",
    "pytest >= 4.4.0",
    "pytest-cov",
    "pytest-rerunfailures",
    "pytest-xdist",
    'radon',
    "sphinx",
]

[tool.poetry]
name = "dit"
version = "1.2.3"
description = ""
authors = [
    "chebee7i <admin@dit.io>",
    "Ryan G. James <rgjames@ucdavis.edu>",
]

[tool.poetry.dependencies]
python = "^3.3"
boltons = "*"
debtcollector = "*"
lattices = "^0.3.3"
networkx = "*"
numpy = "^1.11"
PLTable = "*"
scipy = "^0.15.0"


[tool.poetry.dev-dependencies]
pytest = "^3.4"
